/* COLOR PALLETE */
/* DARK - #292929 ~ LIGHT - #DEDEDE*/

*{
margin:0;
padding:0;
}
.main{
height:100vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
background:#DEDEDE;
}
/* BUTTON. */
.button{
height:60px;
width:160px;
background:#292929;
border-radius:100px;
overflow:hidden;

display:flex;
align-items:center;
z-index:2;

}
/* BUTTON TEST ANIMATION. */
.button{
transition:0.5s ease;
}
/* BUTTON ACTIVE ANIMATION. */
.active.button{
background:#DEDEDE;
}
/* CIRCLE. */
.circle{
height:55px;
width:55px;
background:#DEDEDE;
border-radius:100%;
position:relative;
margin-left:3px;
}
/* CIRCLE TEST ANIMATION. */
.circle{
transition:0.5s ease;
right:0;
}
/* CIRCLE ACTIVE ANIMATION. */
.active.circle{
right:-99px;
background:#292929;
}
/* D&L MODE. */
.dark-light{
height:10px;
width:10px;
background:#DEDEDE;
position:fixed;
border-radius:100%;

}
/* D&L MODE TEST ANIMATION. */
.dark-light{
transition:0.2s ease;

}
/* D&L MODE ACTIVE ANIMATION. */
.active.dark-light{
height:2500px;
width:2500px;
background:#292929;
}
/* REMOVE THIS IF YOU USE. */
.h6{
position:absolute;
bottom:0;
text-align:center;
margin-bottom:10px;
text-indent:6px;
color:#292929;

}
.h6{
transition:0.5s ease;

}
.active.h6{
color:#DEDEDE;
}
