@font-face {
  src: url(https://code.s3.yandex.net/web-code/fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse Intl';
  font-weight: normal;
}

html, body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
}

button {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  outline: none;
  transition: all .4s ease;
  text-align: center;
  font-family: "Suisse Intl", 'Arial Narrow', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
