html {
    padding: 0 ;
    margin : 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body {
    width: 100vw ;
    max-width: 100% ;
    overflow-x: hidden ;
}

.msg {
font-size: 16px ;
    color: #658185 ;
    margin: 2rem 0 ;

    max-width: 30ch ;
    text-align: center ;

    display: flex ;
    align-items: center ;
}